<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.16.1" targetFramework="net472" />
  <package id="Pfim" version="0.9.1" targetFramework="net472" />
  <package id="SharpCompress" version="0.25.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net472" />
  <package id="Tulpep.NotificationWindow" version="1.1.31" targetFramework="net472" />
</packages>